<footer>
  <div class="copyrights">
    <img src="img/Logo.png" alt="Logo" id="logo-footer" />
    <p>Copyright 2025 Sub POP Records</p>
  </div>
  <div class="footercontent">
    <div class="social-media">
      <img src="img/instagram.svg" alt="instagram" id="instagram" />
      <img src="img/youtube.svg" alt="youtube" id="youtube" />
      <img src="img/facebook circle.svg" alt="facebook" id="facebook" />
    </div>
    <p>Privacy Policy</p>
    <p>Terms & Conditions</p>
    <p>Cookie Policy</p>
    <p>Contact</p>
  </div>
  <a href="index.html#top" class="button outlined">
    <h4>Back to top</h4>
  </a>
</footer>
