<header>
  <a href="index.html"><img src="img/Logo.png" alt="Logo" /></a>
  <nav>
    <div class="menu left">
      <div class="menu-hover">
        <a href="#about">ABOUT</a>
      </div>
    </div>
    <div class="menu">
      <div class="menu-hover">
        <a href="#artists">ARTISTS</a>
      </div>
    </div>
    <div class="menu">
      <div class="menu-hover">
        <a href="#news">NEWS</a>
      </div>
    </div>
    <div class="menu right">
      <div class="menu-hover">
        <a href="#shop" id="right">SHOP</a>
      </div>
    </div>
  </nav>
</header>
