<div class="Shop" id="shop">
  <h3>Shop</h3>
  <div class="shop-carrousel">
    <div class="shop-card">
      <img src="img/shop-img.png" />
      <div class="label">
        <h3>ENTER : THE CONQUERING CHICKEN (2024 REMASTER)</h3>
        <div class="more">
          <img src="img/price.svg" alt="price" />
          <a href="#" class="button filled-white">
            <h4>more</h4>
            <img src="img/plus.svg" alt="plus" />
          </a>
        </div>
      </div>
    </div>
    <div class="shop-card">
      <img src="img/shop-img.png" />
      <div class="label">
        <h3>ENTER : THE CONQUERING CHICKEN (2024 REMASTER)</h3>
        <div class="more">
          <img src="img/price.svg" alt="price" id="price-2" />

          <a href="#" class="button filled-white">
            <h4>more</h4>
            <img src="img/plus.svg" alt="plus" />
          </a>
        </div>
      </div>
    </div>
    <div class="shop-card">
      <img src="img/shop-img.png" />
      <div class="label">
        <h3>ENTER : THE CONQUERING CHICKEN (2024 REMASTER)</h3>
        <div class="more">
          <img src="img/price.svg" alt="price" id="price-3" />

          <a href="#" class="button filled-white">
            <h4>more</h4>
            <img src="img/plus.svg" alt="plus" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="arrows">
    <img src="img/arrow-shop.svg" id="left" />
    <img src="img/arrow-shop.svg" id="right" />
  </div>
</div>
