@font-face {
  font-family: RextonBlack;
  src: url(../font/rexton-black.woff2);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: coustard;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

/* Option B — cacher la barre mais garder le scroll */
html::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 24px 98px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 16px;
}

.menu {
  border-bottom: solid 2px;
  padding: 0px 20px;
}

.right {
  padding-right: 0px;
}

.left {
  padding-left: 0px;
}

.menu-hover {
  padding: 10px 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.menu-hover:hover {
  background-color: white;
  color: black;
}

.menu-hover:hover a {
  color: black;
}

.About {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 96px 97px 200px;
  gap: 24px;
}
.Artists {
  display: flex;
  flex-direction: column;
  padding: 96px 97px;
  gap: 24px;
  background-color: black;
  color: white;
}

.card {
  display: flex;
  align-items: end;
  aspect-ratio: 1/1;
  background-color: blue;
  padding: 24px 34px;
}

.card h2 {
}

.artists-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: rgb(255, 0, 251);
  align-self: center;
  padding: 8px 13px;
  margin-top: 24;
  gap: 10px;
}

.outlined {
  background: none;
  border: solid 2px #cb48ff;
  color: #cb48ff;
}

.News {
  display: flex;
  flex-direction: column;
  padding: 97px 96px;
  gap: 24px;
}
.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.news-card {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: start;
  gap: 25px;
  background-color: black;
  color: white;
}

.news-card img {
  width: 236px;
  height: 160px;
  background-color: white;
}

.new-card .label {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  justify-content: space-between;
}

.Shop {
  padding: 97px;
  background-color: black;
  color: white;
}
.shop-carrousel {
  display: flex;
  align-items: center;
  gap: 33px;
  align-self: stretch;
  overflow: hidden;
  margin-top: 24px;
}
.shop-card {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  padding: 0px 44px 29px 44px;
  gap: 20px;
}

.shop-card .label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

h6 {
  font-size: 80px;
}

.label .more {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.more .button {
  margin-top: 0px;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 62px;
  margin-top: 48px;
}

#right {
  transform: rotate(180deg);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 64px;
}

.footercontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 48px;
  width: auto;
}

#facebook {
  scale: 150%;
}

#youtube {
  scale: 125%;
}

#instagram {
  scale: 140%;
}

.copyrights {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

#logo-footer {
  width: 75px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  padding-bottom: 31px;
  background-image: url(../img/background-hero.svg);
  background-size: cover;
  background-position: center 30px;
}

.carrousel-2 {
  width: 80px;
  height: 479px;
  background-color: rgb(117, 38, 85);
}

.carrousel-3 {
  width: 80px;
  height: 479px;
  background-color: rgb(117, 38, 85);
}

.carrousel-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/Hero.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding: 68px 159px;
  color: white;
  gap: 150px;
  padding: 50px;
  min-height: 600px; /* <-- fixe une hauteur minimale */
}

.title {
  position: relative;
}

.title h1 {
  transform: translateY(-10px);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.subtitle {
  display: flex;
  flex-direction: column;
  margin-right: 500px;
  gap: 13px;
}

.subtitle .button {
  margin: 0;
  align-self: flex-start;
}

svg {
  position: absolute;
  inset: -17;
  display: flex;
}

#arrow-left {
  transform: rotate(180deg);
}

#fleur-about {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(30%, -50%) scale(0.8);
  width: clamp(160px, 30vw, 480px);
  max-width: 70%;
  height: auto;
  z-index: 10;
  pointer-events: none;
}

@media (max-height: 600px) {
  #fleur-about {
    top: 40%;
    width: clamp(140px, 36vw, 360px);
  }
}

@media (max-width: 600px) {
  #fleur-about {
    top: 40%;
    width: clamp(120px, 40vw, 240px);
  }
}

h1 {
  font-family: RextonBlack;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -14px;
  width: 950px;
}

h2 {
  font-family: RextonBlack;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 45px */
  letter-spacing: -7.92px;
}

h3 {
  font-family: RextonBlack;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -3.52px;
}

p {
  color: var(--black-black-100, #000);
  font-family: Coustard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
}

.banner {
  background-image: url(../img/Bria-salmena.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 643px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.banner h1 {
  width: 500px;
  color: white;
}

.infos {
  display: flex;
  flex-direction: column;
  padding: 72px 100px 102px;
  gap: 24px;
}

.Discography {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: white;
  padding: 96px 97px;
  gap: 24px;
}

.albums {
  display: flex;
  justify-content: center;
}

.albums img {
  box-shadow: -10px -3px 13.1px 0 rgba(0, 0, 0, 0.63);
}

.current-album {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 550px;
  gap: 24px;
}

.description p {
  color: white;
}

.album-title {
  display: flex;
  align-items: end;
  gap: 46px;
}

.album-picture {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  background-image: url(../img/album-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 278px;
  height: 278px;
}

.album-picture img {
  scale: 30%;
}

.shows {
  padding: 96px 94px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.carrousel-shows {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 361px;
  gap: 40;
}

.show-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 42px;
}

.show-date h2 {
  color: #000;
}

.show-title p {
  font-size: 24px;
}

.show-date p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%;
  letter-spacing: -0.16px;
}

.show-date .button {
  margin-top: 0px;
}

#current-date {
  align-self: center;
}

.hidden-date {
  opacity: 0.38;
}

.patern {
  height: 169px;
}

.patern-flower {
  background-image: url(../img/fleur-2.svg);
  width: 100000;
  background-size: contain;
}

.Pictures {
  display: flex;
  flex-direction: column;
  padding: 96px;
  gap: 24px;
}

.carrousel-pictures {
  display: flex;
  gap: 48px;
  overflow: hidden;
}

.Pictures img {
  height: 430;
}

.black {
  background-color: #000;
  height: 250px;
}

.social-media-large {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 96;
  background-color: #000;
}

.social-media-large img {
  scale: 65%;
}

.instagram p {
  color: white;
  font-size: 36px;
  line-height: 158%;
  letter-spacing: -0.36px;
}

.youtube p {
  color: white;
  font-size: 36px;
  line-height: 158%;
  letter-spacing: -0.36px;
}

.facebook p {
  color: white;
  font-size: 36px;
  line-height: 158%;
  letter-spacing: -0.36px;
}

.instagram {
  display: flex;
  flex-direction: column;
  gap: 24;
}

.youtube {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.facebook {
  display: flex;
  flex-direction: column;
  gap: 24;
}
